
<div class="mainmenu"></div>

  <div class="sidesection">
      <nav>
          <ul class="menu">
              <li>
                  <a ui-sref="base.profile">My Details</a>
              </li>
              <li>
                  <a ui-sref="base.images">My Pictures </a>
              </li>
              <li>
                  <a href="/logout">Logout </a>
              </li>
          </ul>
      </nav>
   
  </div>
<div class="page-container">
  
           <div ui-view="view-container"></div>
</div>