<!DOCTYPE html>
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/production/css/style.min.css')
    body
        nav.navbar
                 .navbar-header
                    
        block content
        script(data-main="/javascripts/app/account/js/infra/dependencies",src="/javascripts/libs/require.js")


















